/***
 *    ██████╗  █████╗ ███████╗██╗ ██████╗
 *    ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
 *    ██████╔╝███████║███████╗██║██║
 *    ██╔══██╗██╔══██║╚════██║██║██║
 *    ██████╔╝██║  ██║███████║██║╚██████╗
 *    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
 *
 *         ██╗ ██████╗ ██╗    ██╗██╗██████╗  ██████╗ ███████╗████████╗███████╗
 *         ██║██╔═══██╗██║    ██║██║██╔══██╗██╔════╝ ██╔════╝╚══██╔══╝██╔════╝
 *         ██║██║   ██║██║ █╗ ██║██║██║  ██║██║  ███╗█████╗     ██║   ███████╗
 *    ██   ██║██║▄▄ ██║██║███╗██║██║██║  ██║██║   ██║██╔══╝     ██║   ╚════██║
 *    ╚█████╔╝╚██████╔╝╚███╔███╔╝██║██████╔╝╚██████╔╝███████╗   ██║   ███████║
 *     ╚════╝  ╚══▀▀═╝  ╚══╝╚══╝ ╚═╝╚═════╝  ╚═════╝ ╚══════╝   ╚═╝   ╚══════╝
 *
 *    ███████╗ ██████╗ ██████╗ ███╗   ███╗
 *    ██╔════╝██╔═══██╗██╔══██╗████╗ ████║
 *    █████╗  ██║   ██║██████╔╝██╔████╔██║
 *    ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
 *    ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ███████╗████████╗██╗   ██╗██╗     ███████╗
 *    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
 *    ███████╗   ██║    ╚████╔╝ ██║     █████╗
 *    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
 *    ███████║   ██║      ██║   ███████╗███████╗
 *    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
 *
 */
mat-form-field {
  min-width: 20rem;
}

textarea {
  overflow: hidden !important;
}

.list-select {
  height: 300px;
  overflow: auto;
}

.hobby-label {
  padding-left: 2rem;
}
