<!-- /***
 *    ██████╗  █████╗ ███████╗██╗ ██████╗
 *    ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
 *    ██████╔╝███████║███████╗██║██║
 *    ██╔══██╗██╔══██║╚════██║██║██║
 *    ██████╔╝██║  ██║███████║██║╚██████╗
 *    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
 *
 *    ███╗   ███╗ █████╗ ████████╗███████╗██████╗ ██╗ █████╗ ██╗
 *    ████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██╔══██╗██║██╔══██╗██║
 *    ██╔████╔██║███████║   ██║   █████╗  ██████╔╝██║███████║██║
 *    ██║╚██╔╝██║██╔══██║   ██║   ██╔══╝  ██╔══██╗██║██╔══██║██║
 *    ██║ ╚═╝ ██║██║  ██║   ██║   ███████╗██║  ██║██║██║  ██║███████╗
 *    ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚══════╝
 *
 *    ███████╗ ██████╗ ██████╗ ███╗   ███╗
 *    ██╔════╝██╔═══██╗██╔══██╗████╗ ████║
 *    █████╗  ██║   ██║██████╔╝██╔████╔██║
 *    ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
 *    ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ████████╗███████╗███╗   ███╗██████╗ ██╗      █████╗ ████████╗███████╗
 *    ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██║     ██╔══██╗╚══██╔══╝██╔════╝
 *       ██║   █████╗  ██╔████╔██║██████╔╝██║     ███████║   ██║   █████╗
 *       ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║     ██╔══██║   ██║   ██╔══╝
 *       ██║   ███████╗██║ ╚═╝ ██║██║     ███████╗██║  ██║   ██║   ███████╗
 *       ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
 *
 */ -->
 <form
    novalidate
    [formGroup]="userDetailsForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1.5rem">


  <!-- COUNTRY INPUT -->
  <mat-form-field>
    <input
        matInput
        placeholder="Your country..."
        [matAutocomplete]="auto"
        formControlName="country-input">
    <mat-autocomplete
        #auto="matAutocomplete"
        autoActiveFirstOption
        [displayWith]="displayCountryName">
      <mat-option *ngIf="countryInputIsLoading">
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
      </mat-option>
      <ng-container>
        <!--
          If using <ng-container *ngIf="countryInputIsLoading"> Angular will throw

            BasicMaterialFormComponent.html:57 ERROR Error: ExpressionChangedAfterItHasBeenCheckedError:
          Expression has changed after it was checked. Previous value: 'ngIf: true'. Current value:
          'ngIf: false'.

          The same thing if we use ngIf/else template...

          I guess this is happening due to the fact that countryInputIsLoading is changing asynchronously.
         -->
        <mat-option *ngFor="let countryName of (filteredCountryNames | async)" [value]="countryName">
          <span>{{ countryName }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
    <mat-hint>
      Choose the country you live in.
    </mat-hint>
    <mat-error *ngIf="userDetailsForm.get('country-input').errors?.invalidCountryName">
      Invalid country name!
    </mat-error>
    <mat-error *ngIf="userDetailsForm.get('country-input').errors?.required">
      Please enter a valid country name!
    </mat-error>
  </mat-form-field>

  <!-- CITY INPUT -->
  <mat-form-field>
    <mat-select
        placeholder="Your town/city..."
        formControlName="city-input">
      <mat-option *ngIf="cityInputIsLoading">
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
      </mat-option>
      <ng-container>
        <!-- <ng-container *ngIf="!cityInputIsLoading"> the same as above... -->
        <mat-option
            *ngFor="let city of cities | async"
            [value]="city">
          {{ city }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-hint>
      Choose the city/town you live in.
    </mat-hint>
    <mat-error *ngIf="userDetailsForm.get('city-input').errors?.required">
      Please select city/town!
    </mat-error>
  </mat-form-field>

</form>

