/***
 *    ██████╗  ██████╗ ███╗   ███╗
 *    ██╔══██╗██╔═══██╗████╗ ████║
 *    ██║  ██║██║   ██║██╔████╔██║
 *    ██║  ██║██║   ██║██║╚██╔╝██║
 *    ██████╔╝╚██████╔╝██║ ╚═╝ ██║
 *    ╚═════╝  ╚═════╝ ╚═╝     ╚═╝
 *
 *    ███████╗██╗     ███████╗███╗   ███╗███████╗███╗   ██╗████████╗███████╗
 *    ██╔════╝██║     ██╔════╝████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║     █████╗  ██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║     ██╔══╝  ██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
 *    ███████╗███████╗███████╗██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ███████║
 *    ╚══════╝╚══════╝╚══════╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *
 */
@import './mixins';

body {
  background-color: white;
}

mat-toolbar {
  * {
    color: white
  }
  a {
    &:hover {
      color: white;
      @include text-outline(grey);
    }
    text-decoration: none;
    cursor: hand
  }
}
