/***
 *    ██████╗  █████╗ ███████╗██╗ ██████╗
 *    ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
 *    ██████╔╝███████║███████╗██║██║
 *    ██╔══██╗██╔══██║╚════██║██║██║
 *    ██████╔╝██║  ██║███████║██║╚██████╗
 *    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
 *
 *     █████╗ ███╗   ██╗ ██████╗ ██╗   ██╗██╗      █████╗ ██████╗
 *    ██╔══██╗████╗  ██║██╔════╝ ██║   ██║██║     ██╔══██╗██╔══██╗
 *    ███████║██╔██╗ ██║██║  ███╗██║   ██║██║     ███████║██████╔╝
 *    ██╔══██║██║╚██╗██║██║   ██║██║   ██║██║     ██╔══██║██╔══██╗
 *    ██║  ██║██║ ╚████║╚██████╔╝╚██████╔╝███████╗██║  ██║██║  ██║
 *    ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
 *
 *    ███████╗ ██████╗ ██████╗ ███╗   ███╗
 *    ██╔════╝██╔═══██╗██╔══██╗████╗ ████║
 *    █████╗  ██║   ██║██████╔╝██╔████╔██║
 *    ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
 *    ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ███████╗████████╗██╗   ██╗██╗     ███████╗
 *    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
 *    ███████╗   ██║    ╚████╔╝ ██║     █████╗
 *    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
 *    ███████║   ██║      ██║   ███████╗███████╗
 *    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
 *
 */

 // CLASSES
.hint-message {
  font-family: 'Roboto', sans-serif;
  color:lightseagreen;
  font-size: 0.75rem;
}

.error-message {
  font-family: 'Roboto', sans-serif;
  color:lightcoral;
  font-size: 0.75rem;
}

.error-input {
  &::placeholder {
    color: lightcoral;
  }
  color: lightcoral;
  border-color: lightcoral;
}

 // ELEMENTS
 button {
   &:hover {
     background-color: darkorange;
   }
   color: white;
   background: darkcyan;
   padding: 0.5rem;
   border-radius: 0.5rem;
   border: none
 }

input, textarea {
  font-family: 'Roboto', sans-serif;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  border: 1px gray solid;
}

div>label:first-child {
  font-family: 'Roboto', sans-serif;
  // color: darkcyan;
  font-weight: bold;
}

input+label {
  font-family: 'Roboto', sans-serif;
}

div>span:first-child {
  font-family: 'Roboto', sans-serif;
  background-color: lightcoral;
  color: white;
  margin-top: 2.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
}
