/***
 *    ██████╗  █████╗ ███████╗██╗ ██████╗
 *    ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
 *    ██████╔╝███████║███████╗██║██║
 *    ██╔══██╗██╔══██║╚════██║██║██║
 *    ██████╔╝██║  ██║███████║██║╚██████╗
 *    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
 *
 *     █████╗ ███╗   ██╗ ██████╗ ██╗   ██╗██╗      █████╗ ██████╗
 *    ██╔══██╗████╗  ██║██╔════╝ ██║   ██║██║     ██╔══██╗██╔══██╗
 *    ███████║██╔██╗ ██║██║  ███╗██║   ██║██║     ███████║██████╔╝
 *    ██╔══██║██║╚██╗██║██║   ██║██║   ██║██║     ██╔══██║██╔══██╗
 *    ██║  ██║██║ ╚████║╚██████╔╝╚██████╔╝███████╗██║  ██║██║  ██║
 *    ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
 *
 *    ███████╗ ██████╗ ██████╗ ███╗   ███╗
 *    ██╔════╝██╔═══██╗██╔══██╗████╗ ████║
 *    █████╗  ██║   ██║██████╔╝██╔████╔██║
 *    ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
 *    ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ███████╗████████╗██╗   ██╗██╗     ███████╗
 *    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝
 *    ███████╗   ██║    ╚████╔╝ ██║     █████╗
 *    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝
 *    ███████║   ██║      ██║   ███████╗███████╗
 *    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝
 *
 */

// CONSTANTS
$primaryColor: lightseagreen;
$warnColor: lightcoral;
$neuterColor: gray;
$buttonTextColor: white;
$accentColor: darkorange;

 // CLASSES
.hint-message {
  font-family: 'Roboto', sans-serif;
  color: $primaryColor;
  font-size: 0.75rem;
}

.error-message {
  font-family: 'Roboto', sans-serif;
  color: $warnColor;
  font-size: 0.75rem;
}

.error-input {
  &::placeholder {
    color:  $warnColor;
  }
  color:  $warnColor;
  border-color:  $warnColor;
}

.deleteHobbyInput {
  font-family: 'Courier New', Courier, monospace;
  color:  $buttonTextColor;
  background-color:  $warnColor;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
}

.addHobbyInput {
  font-family: 'Courier New', Courier, monospace;
  color:  $buttonTextColor;
  background-color:  $primaryColor;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
}

 // ELEMENTS
button {
  &:hover {
    background-color: $accentColor;
  }
  &:disabled {
    background-color: $neuterColor;
  }
  &[type="reset"] {
    &:hover {
      background-color: $accentColor;
    }
    background-color:  $warnColor;
  }
  color:  $buttonTextColor;
  background: darkcyan;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

input, textarea {
  font-family: 'Roboto', sans-serif;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  border: 1px $neuterColor solid;
}

div>label:first-child {
  font-family: 'Roboto', sans-serif;
  // color: darkcyan;
  font-weight: bold;
}

input+label {
  font-family: 'Roboto', sans-serif;
}

div>span:first-child {
  font-family: 'Roboto', sans-serif;
  background-color:  $warnColor;
  color:  $buttonTextColor;
  margin-top: 2.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
}
