<!-- /***
 *    ██████╗  █████╗ ███████╗██╗ ██████╗
 *    ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
 *    ██████╔╝███████║███████╗██║██║
 *    ██╔══██╗██╔══██║╚════██║██║██║
 *    ██████╔╝██║  ██║███████║██║╚██████╗
 *    ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
 *
 *     █████╗ ███╗   ██╗ ██████╗ ██╗   ██╗██╗      █████╗ ██████╗
 *    ██╔══██╗████╗  ██║██╔════╝ ██║   ██║██║     ██╔══██╗██╔══██╗
 *    ███████║██╔██╗ ██║██║  ███╗██║   ██║██║     ███████║██████╔╝
 *    ██╔══██║██║╚██╗██║██║   ██║██║   ██║██║     ██╔══██║██╔══██╗
 *    ██║  ██║██║ ╚████║╚██████╔╝╚██████╔╝███████╗██║  ██║██║  ██║
 *    ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
 *
 *    ███████╗ ██████╗ ██████╗ ███╗   ███╗
 *    ██╔════╝██╔═══██╗██╔══██╗████╗ ████║
 *    █████╗  ██║   ██║██████╔╝██╔████╔██║
 *    ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
 *    ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ████████╗███████╗███╗   ███╗██████╗ ██╗      █████╗ ████████╗███████╗
 *    ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██║     ██╔══██╗╚══██╔══╝██╔════╝
 *       ██║   █████╗  ██╔████╔██║██████╔╝██║     ███████║   ██║   █████╗
 *       ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║     ██╔══██║   ██║   ██╔══╝
 *       ██║   ███████╗██║ ╚═╝ ██║██║     ███████╗██║  ██║   ██║   ███████╗
 *       ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝
 *
 */ -->
<form
    [formGroup]="userDetailsForm"
    (ngSubmit)="onSubmit()"
    fxLayout="row"
    fxLayoutAlign="center center">

  <div
    fxLayout="column"
    fxLayoutAlign="center start"
    fxLayoutGap="0.75rem">

    <!-- username -->
    <div
        fxFill
        fxLayout="row"
        fxLayoutGap="0.35rem">
      <label
          fxFlex="30"
          fxLayout="row"
          fxLayoutAlign="end center"
          for="username">
        Username:
      </label>
      <input
          formControlName="username"
          placeholder="your username..."
          id="username"
          type="text">
    </div>

    <!-- email -->
    <div
        fxFill
        fxLayout="row"
        fxLayoutGap="0.35rem">
      <label
          fxFlex="30"
          fxLayout="row"
          fxLayoutAlign="end center"
          for="email">
        Email:
      </label>
      <input
          formControlName="email"
          placeholder="your email..."
          id="email"
          type="email">
    </div>

    <!-- birth date -->
    <div
        fxFill
        fxLayout="row"
        fxLayoutGap="0.35rem">
      <label
            fxFlex="30"
            fxLayout="row"
            fxLayoutAlign="end center"
            for="birthDate">
          Birth date:
        </label>
      <input
          formControlName="birthDate"
          placeholder="your birth date..."
          id="birthDate"
          type="date">
    </div>

    <!-- gender -->
    <div
        fxFill
        fxLayout="row"
        fxLayoutGap="0.35rem">
      <div
          fxFlex="30"
          fxLayout="row"
          fxLayoutAlign="end center">
        <label>Gender:</label>
      </div>
      <div
          fxLayout="row"
          fxLayoutGap="0.55rem">
        <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="0.2rem">
          <input
              formControlName="gender"
              type="radio"
              id="genderMale"
              name="gender"
              value="male">
          <label for="genderMale">Male</label>
        </div>
        <div
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="0.2rem">
          <input
              formControlName="gender"
              type="radio"
              id="genderFemale"
              name="gender"
              value="female">
          <label for="genderFemale">Female</label>
        </div>
      </div>
    </div>

    <!-- description -->
    <div
        fxFill
        fxLayout="row"
        fxLayoutGap="0.35rem">
      <label
          fxFlex="30"
          fxLayout="row"
          fxLayoutAlign="end center"
          for="description">
        Description:
      </label>
      <textarea
          formControlName="description"
          id="description"
          cols="40"
          rows="5"></textarea>
    </div>

    <!-- buttons -->
    <div
        fxFill
        fxLayout="row"
        fxLayoutGap="0.35rem">
      <div
          fxFlex="30"
          fxLayout="row"
          fxLayoutAlign="end center">
        &nbsp;
      </div>
      <div
          fxLayout="row"
          fxLayoutGap="0.55rem">
        <button>Submit</button>
        <button>Reset</button>
      </div>
    </div>
  </div>
</form>

<div
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="submitted">
  <span>Form submitted, open the console to see the result...</span>
</div>
